@media (max-width: 1240px) {
  h1,
  .avatarPage > h1 {
    font-size: 55px;
  }
  ul > li:nth-child(1) > a {
    font-size: 23px;
  }
  ul > li:nth-child(2) > a {
    font-size: 12px;
    padding: 7.73px 25.63px 8.45px 25.63px;
  }
  ul > li:nth-child(3) > a,
  .homePageContent > a {
    font-size: 12px;
    padding: 7.73px 25.63px 8.45px 25.63px;
  }
  .homePageContent > p {
    font-size: 14px;
  }
  .homePageContent > img {
    width: 70px;
    height: 70px;
  }
  .line {
    margin-top: 15px;
  }
}
@media (max-width: 870px) {
  h1,
  .avatarPage > h1 {
    font-size: 40px;
  }
  ul > li:nth-child(1) > a {
    font-size: 18px;
  }
  ul > li:nth-child(2) > a {
    font-size: 10px;
    padding: 6.44px 21.36px 7.04px 21.36px;
  }
  ul > li:nth-child(3) > a,
  .homePageContent > a {
    font-size: 10px;
    padding: 6.44px 21.36px 7.04px 21.36px;
  }
  .homePageContent > p {
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 30px;
  }
  .homePageContent > img {
    display: none;
  }
  .line {
    margin-top: 15px;
  }
}
